.course-detail-container {
    padding: 20px;
    text-align: center;
  }
  
  .course-detail-container h1 {
    margin-bottom: 10px;
  }
  
  .course-detail-container p {
    color: grey;
    font-style: italic;
  }
  
  .course-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  